<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="./assets/images/leaf.png" padding style="height: 150px;"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <strong>Leaf Inc.</strong>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h5>418, Chungbuk National Univ. E8-1(college of engineering building),</h5>
      <h5>1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do, Rep. of KOREA</h5>
      <br/>
      <h5><ion-icon name="ios-mail"></ion-icon> yskim@team-leaf.com</h5>
    </ion-card-content>
  </ion-card>
</ion-content>
