<ion-app>
  <ion-split-pane>
    <ion-menu side="end">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="[appPages[0].url]" lines="none">
              <ion-icon slot="start" [name]="appPages[0].icon"></ion-icon>
              <ion-label>
                {{appPages[0].title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" href="https://play.google.com/store/apps/details?id=com.teamleaf.imagedownloader">
              <ion-icon slot="start" name="md-appstore"></ion-icon>
              <ion-label>
                {{'Play Store (Android)'}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none">
              <ion-icon slot="start" name="ios-appstore"></ion-icon>
              <ion-label>
                {{'App Store (iOS)'}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="[appPages[1].url]" lines="none">
              <ion-icon slot="start" [name]="appPages[1].icon"></ion-icon>
              <ion-label>
                {{appPages[1].title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
