<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Image Downloader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="6" sizeXl="6">
          <ion-img src="./assets/images/imagedownloader1.png" style="height: 80vh; max-height: none;"></ion-img>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="6" sizeXl="6">
          <ion-img src="./assets/images/imagedownloader2.png" style="height: 80vh; max-height: none;"></ion-img>
        </ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title><strong>Image Downloader</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Image Downloader는 트위터와 인스타그램에서 태그를 기반으로 검색된 사진들을 휴대폰 앨범에 저장할 수 있는 어플리케이션입니다.</strong></p>
      </ion-card-content>
    </ion-card>
</ion-content>
